@import "tailwindcss";

@theme {
  --color-primary: #8B5E3C;
  --color-secondary: #F5F0E8;
  --color-accent: #C4622D;
  --color-dark: #2C2C2C;
  --color-background: #FDFAF5;

  --font-playfair: var(--font-playfair);
  --font-lato: var(--font-lato);
}

body {
  background-color: #FDFAF5;
  color: #2C2C2C;
}